In [12]:
'''
goal: predict if the restaurant will close or not
'''
import pandas as pd
import numpy as np
df = pd.read_table('business.txt')

In [13]:
df.tail()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
156634,MW4yO70jP70b9uNjZF2OVw,Telegramme Prints,Leslieville,1103 Queen Street E,Toronto,ON,M4M 1K7,43.661834,-79.335638,5.0,4,0,"{'BusinessParking': {'garage': False, 'street'...","['Art Galleries', 'Flowers & Gifts', 'Event Pl...","{'Tuesday': '12:00-18:00', 'Friday': '12:00-18..."
156635,9QtHDX71JnaQbmzWWVbi-A,Quark's Bar & Restaurant,Eastside,"Star Trek The Experience, 3000 Paradise Rd",Las Vegas,NV,89109,36.137112,-115.152919,4.0,42,0,"{'GoodForMeal': {'dessert': False, 'latenight'...","['American (New)', 'Restaurants']",{}
156636,pj97DoTfO6FcJpW9PnyWtQ,Bill's Bimmers Bmw Service,NaN,1833 E 3rd St,Tempe,AZ,85281,33.426949,-111.907623,3.5,3,1,{},"['Auto Repair', 'Automotive']",{}
156637,O6BhCUuMA6sp0N24oEIjfw,Black Isle wildlife park,NaN,The Croft Drumsmittal,Inverness,HLD,IV1 1XF,57.519612,-4.260682,3.5,8,1,{},"['Zoos', 'Active Life']",{}
156638,scMIE4jyGp7FkWrMKAgjxA,Walmart,NaN,540 Marks St,Henderson,NV,89014,36.060708,-115.033241,2.5,42,0,"{'BusinessAcceptsCreditCards': True, 'Restaura...","['Fashion', 'Shopping', 'Food', 'Department St...",{}

In [10]:
# first get only restaurant
df['is_restaurant'] = 0
for i in range(len(df)):
    if 'Restaurants' in df.iloc[i].categories:
        df.is_restaurant.iloc[i] = 1
    if i % 5000 == 0:
        print(i, "out of 156638 have been already processed...")
df.to_csv('is_restaurant.txt', sep='\t', encoding='utf-8', index=False)

0 out of 156638 have been already processed...

/anaconda/lib/python3.6/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

5000 out of 156638 have been already processed...
10000 out of 156638 have been already processed...
15000 out of 156638 have been already processed...
20000 out of 156638 have been already processed...
25000 out of 156638 have been already processed...
30000 out of 156638 have been already processed...
35000 out of 156638 have been already processed...
40000 out of 156638 have been already processed...
45000 out of 156638 have been already processed...
50000 out of 156638 have been already processed...
55000 out of 156638 have been already processed...
60000 out of 156638 have been already processed...
65000 out of 156638 have been already processed...
70000 out of 156638 have been already processed...
75000 out of 156638 have been already processed...
80000 out of 156638 have been already processed...
85000 out of 156638 have been already processed...
90000 out of 156638 have been already processed...
95000 out of 156638 have been already processed...
100000 out of 156638 have been already processed...
105000 out of 156638 have been already processed...
110000 out of 156638 have been already processed...
115000 out of 156638 have been already processed...
120000 out of 156638 have been already processed...
125000 out of 156638 have been already processed...
130000 out of 156638 have been already processed...
135000 out of 156638 have been already processed...
140000 out of 156638 have been already processed...
145000 out of 156638 have been already processed...
150000 out of 156638 have been already processed...
155000 out of 156638 have been already processed...

In [14]:
df = pd.read_table('is_restaurant.txt')

In [22]:
df.tail()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,is_restaurant
156634,MW4yO70jP70b9uNjZF2OVw,Telegramme Prints,Leslieville,1103 Queen Street E,Toronto,ON,M4M 1K7,43.661834,-79.335638,5.0,4,0,"{'BusinessParking': {'garage': False, 'street'...","['Art Galleries', 'Flowers & Gifts', 'Event Pl...","{'Tuesday': '12:00-18:00', 'Friday': '12:00-18...",0
156635,9QtHDX71JnaQbmzWWVbi-A,Quark's Bar & Restaurant,Eastside,"Star Trek The Experience, 3000 Paradise Rd",Las Vegas,NV,89109,36.137112,-115.152919,4.0,42,0,"{'GoodForMeal': {'dessert': False, 'latenight'...","['American (New)', 'Restaurants']",{},1
156636,pj97DoTfO6FcJpW9PnyWtQ,Bill's Bimmers Bmw Service,NaN,1833 E 3rd St,Tempe,AZ,85281,33.426949,-111.907623,3.5,3,1,{},"['Auto Repair', 'Automotive']",{},0
156637,O6BhCUuMA6sp0N24oEIjfw,Black Isle wildlife park,NaN,The Croft Drumsmittal,Inverness,HLD,IV1 1XF,57.519612,-4.260682,3.5,8,1,{},"['Zoos', 'Active Life']",{},0
156638,scMIE4jyGp7FkWrMKAgjxA,Walmart,NaN,540 Marks St,Henderson,NV,89014,36.060708,-115.033241,2.5,42,0,"{'BusinessAcceptsCreditCards': True, 'Restaura...","['Fashion', 'Shopping', 'Food', 'Department St...",{},0

In [23]:
# only get restaurant
df = df[df['is_restaurant']==1]

In [24]:
df.tail()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,is_restaurant
156625,7IQoE-EXnRCBUzaVHYlhmw,Papa John's Pizza,University City,"9335 N Tryon St, Ste 102",Charlotte,NC,28262,35.313384,-80.743157,2.0,9,1,"{'RestaurantsTableService': False, 'HasTV': Fa...","['Pizza', 'Restaurants']","{'Monday': '10:00-1:00', 'Tuesday': '10:00-1:0...",1
156626,KcFfciiA1lmui6r_h5OwTg,Steve's Deli,Strip District,2401 Penn Ave,Pittsburgh,PA,15222,40.453845,-79.980478,4.5,3,0,"{'RestaurantsTableService': False, 'GoodForMea...","['Restaurants', 'Delis', 'Sandwiches', 'Food S...","{'Sunday': '10:00-16:00', 'Friday': '10:00-16:...",1
156631,HzUxQ1WpeNmeecXN-HPlPw,Bubble Thé Resto-Lounge,Ville-Marie,1925 St.Catherine W,Montréal,QC,H3H 1M3,45.492610,-73.580954,3.0,8,0,"{'GoodForMeal': {'dessert': False, 'latenight'...","['Food', 'Taiwanese', 'Restaurants', 'Coffee &...","{'Monday': '11:00-0:00', 'Tuesday': '11:00-0:0...",1
156632,hdNOL59QqvGlg70E4yHrsQ,Gourmet Burger Co,Mount Pleasant and Davisville,2419 Yonge Street,Toronto,ON,M4P 2E7,43.710603,-79.399053,3.0,22,0,"{'GoodForMeal': {'dessert': False, 'latenight'...","['Restaurants', 'Burgers']","{'Monday': '11:30-21:00', 'Tuesday': '11:30-21...",1
156635,9QtHDX71JnaQbmzWWVbi-A,Quark's Bar & Restaurant,Eastside,"Star Trek The Experience, 3000 Paradise Rd",Las Vegas,NV,89109,36.137112,-115.152919,4.0,42,0,"{'GoodForMeal': {'dessert': False, 'latenight'...","['American (New)', 'Restaurants']",{},1

In [25]:
len(df)

51613

In [26]:
len(df[df['is_open']==1])

38657

In [27]:
len(df[df['is_open']==0])

12956

In [28]:
df.to_csv('is_restaurant.txt', sep='\t', encoding='utf-8', index=False)

In [32]:
# then get corresponding review (match with business id)
review = pd.read_table('/Users/luxiaopeng/Documents/aProject/Kim/data/review.txt')

In [33]:
len(review)

4736897

In [40]:
business_id = df[['business_id']]
out = review.merge(business_id, on='business_id')

In [41]:
len(out)

2927731

In [43]:
out.to_csv("restaurant_review.txt", sep='\t', encoding='utf-8', index=False)

In [4]:
'''
0330
goal: balance closed and unclosed restaurant
'''
import pandas as pd
import numpy as np
busi = pd.read_table('restaurant_balanced.txt')

In [5]:
len(busi[busi['is_open']==0])

12956

In [6]:
is_closed = busi[busi['is_open'] == 0]
is_open = busi[busi['is_open'] == 1].sample(len(is_closed))
busi_balance = is_closed.append(is_open, ignore_index=True)
len(busi_balance)

25912

In [14]:
busi_balance.tail()

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours,is_restaurant
25907,uJMy2VGq7HHW25PwROUEkg,Zum Löwen,NaN,Stuttgarter Str. 1,Steinenbronn,BW,71144,48.660300,9.119350,4.0,4,1,"{'DogsAllowed': False, 'BusinessParking': {'ga...","['Hotels', 'Meat Shops', 'Restaurants', 'Food'...","{'Monday': '17:00-23:00', 'Tuesday': '17:00-23...",1
25908,--Ni3oJ4VOqfOEu7Sj2Vzg,KFC,NaN,1245 Pearl Road,Brunswick,OH,44212,41.241900,-81.841100,2.0,6,1,"{'GoodForMeal': {'dessert': False, 'latenight'...","['Chicken Wings', 'Fast Food', 'Restaurants']","{'Monday': '10:30-23:00', 'Tuesday': '10:30-23...",1
25909,BvXzUB7QcfCF1gcQwi9oJA,China II,NaN,757 Crossroads Plz,Fort Mill,SC,29708,35.059131,-80.989442,2.5,7,1,"{'GoodForMeal': {'dessert': False, 'latenight'...","['Chinese', 'Restaurants']",{},1
25910,RPjBB_uhHQ4oxp39Jqm_HQ,Capriotti's Sandwich Shop,Anthem,11155 S Eastern Ave,Henderson,NV,89052,35.989740,-115.101585,3.5,55,1,"{'RestaurantsTableService': False, 'GoodForMea...","['Sandwiches', 'Restaurants']","{'Monday': '10:00-21:00', 'Tuesday': '10:00-21...",1
25911,aait_GoXPpYOjS4Hgj74Iw,Nakato Japanese Steakhouse & Sushi Bar,University City,3601 University Executive Park Dr,Charlotte,NC,28202,35.305635,-80.754232,3.5,5,1,"{'GoodForMeal': {'dessert': False, 'latenight'...","['Sushi Bars', 'Japanese', 'Restaurants']",{},1

In [15]:
# apply to review
review = pd.read_table('restaurant_review.txt')
business_id = busi_balance[['business_id']]
out = review.merge(business_id, on='business_id')

/anaconda/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
busi_balance.to_csv('restaurant_balanced.txt', sep = '\t', encoding= 'utf-8', index = False)
# out.to_csv('is_restaurant_balanced.txt', sep = '\t', encoding= 'utf-8', index = False)